<%= form_with(model: resource, as: :user, url: user_registration_path, local: true, html: { method: :put }) do |f| %>

  <%= render 'shared/error_messages', resource: resource %>

  <div class="field">
    <%= f.text_field :name, placeholder: 'Name', autocomplete: "name", required: true %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: 'you@example.com', autocomplete: "email", required: true %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <em class="help">Currently waiting confirmation for: <%= resource.unconfirmed_email %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.text_field :phone, placeholder: '+62-812-0003-1337', autocomplete: "tel", required: true %>
  </div>

<% # TODO: deal with passwords at some point in the future
  if false
%>
    <div class="field">
      <%= f.password_field :password, placeholder: "New Password", autocomplete: "new-password" %>
      <em class="help">(leave blank if you don't want to change it)</em>
      <% if @minimum_password_length && false %>
        <em class="help"><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation, placeholder: "Confirm New Password", autocomplete: "new-password" %>
    </div>
    <div class="field">
      <em class="help">(we need your current password to confirm your changes)</em>
      <%= f.password_field :current_password, placeholder: "Current Password", autocomplete: "off" %>
    </div>
<% end %>

  <div class="actions">
    <%= f.submit 'Update' %>
  </div>

  <script>
    // TODO: if password field is filled, show password confirmation & current password field
  </script>
<% end %>

<hr/>

<h3>Sign Out</h3>
<p><%= button_to "Sign Out", destroy_user_session_path, method: :delete %></p>

<hr/>

<h3>Cancel my Account</h3>
<p>Unhappy?  Sorry to hear you feel that way.  Feel free to delete your account and recreate one at a later time.  <%= button_to "Cancel my Account", user_registration_path, data: { confirm: "Are you sure?" }, method: :delete, class: "m--danger" %></p>

