<h2>Could you check this info?</h2>

<%= form_for(current_user, :as => 'user', :url => finish_signup_path, :html => { role: 'form'}) do |f| %>

  <%= render 'shared/error_messages', resource: current_user %>

  <div class="field">
    <%= f.text_field :name, placeholder: 'name', required: true %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: 'you@example.com', required: true %>
    <em class="help">Please confirm your email address. No spam, promise.</em>
  </div>

  <div class="field">
    <%= f.text_field :phone, placeholder: '+62-812-0003-1337', required: true %>
    <em class="help">Used to connect you with other members.</em>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: 'New Password', required: true %>
  </div>

  <div class="actions">
    <%= f.submit 'Continue' %>
  </div>

<%- end %>

