<% path = location_path(location) %>

<%= link_to path, class: 'search-item' do %>
  <div class='search-item__image'>
    <% if location.has_image? %>
      <%= image_tag location.image_urls[:thumb] %>
    <% else %>
      <%= image_tag Setting.site_logo %>
    <% end %>
  </div>
  <div class='search-item__content'>
    <p class='search-item__content__name'>
      <%= location.name %>
    </p>
  </div>
  <span class='search-item__distance'>
    <%= location.distance.round(1) %> km
  </span>
<% end %>
