<%= render 'search/form', text: params[:text], back_path: cookies[:back_path] %>

<% if @locations.count.positive? %>
  <h4 class='search_results__group__title'><%= t('lm.search.locations_tittle', default: 'Locations') %></h4>
  <div class="search-items" id="search-items">
    <%= render partial: 'location', collection: @locations %>
  </div>
  <br/>
<% end %>
<% if @items.count.positive? %>
  <h4 class='search_results__group__title'><%= t('lm.search.items_tittle', default: 'Items') %></h4>
  <div class="search-items" id="search-items">
    <%= render partial: 'item', collection: @items %>
  </div>
<% end %>
<% if @locations.count.negative? && @items.count.negative? %>
  <% unless params[:text].nil? %>
    <p class='no-result'>
      <%= t('lm.search.no_result', default: "There is no '%{text}' in this area", text: params[:text]) %>
    </p>
  <% end %>
<% end %>

<script>
  let nextPage = 2;
  let totalPage = <%= @total_pages %>;
  let isCalling = false;

  function searchResultsCallback(body) {
    document.getElementById('search-items').insertAdjacentHTML('beforeend', body);

    nextPage += 1;
    if (nextPage <= totalPage) {
      isCalling = false;
    }
  }

  function scrollHandler() {
    height = document.documentElement.offsetHeight,
    scrollingElement = document.scrollingElement || document.documentElement;
    offset = scrollingElement.scrollTop + window.innerHeight;

    if (!isCalling && offset >= height - 200) {
      isCalling = true;
      search_path = "<%= search_path(format: 'js', text: params[:text], page: 'NEXTPAGE').html_safe %>";
      lm.utils.callAjax(search_path.replace("NEXTPAGE", nextPage), searchResultsCallback);
    }
  }

  lm.utils.ready(function() {
    window.addEventListener("scroll", scrollHandler);
  });
</script>
