<div class="b-finish-signup">

  <p class="b-finish-signup__description">Could you check this info?</p>

  <%= form_for(current_user, :as => 'user', :url => finish_signup_path(current_user), :html => { role: 'form'}) do |f| %>

    <%= render 'shared/errors', errors: current_user.errors %>

    <div class="b-finish-signup__field">
      <%= f.text_field :name %>
    </div>

    <div class="b-finish-signup__field">
      <%= f.text_field :email, value: '', placeholder: 'you@example.com' %>
      <div class="b-finish-signup__help">Please confirm your email address. No spam.</div>
    </div>

    <div class="b-finish-signup__field">
      <%= f.text_field :phone, placeholder: '+62-812-0003-1337' %>
    </div>

    <div class="b-finish-signup__field">
      <%= f.password_field :password, placeholder: 'new password' %>
    </div>

    <div class="b-finish-signup__actions">
      <%= f.submit 'Continue' %>
    </div>

  <%- end %>
</div>


