<header class="chat-info">
  <h1 class="chat-info__name">Chat with <%= @user.name %></h1>

  <% if params[:regarding].present? %>
    <p class="chat-info__description">
      <%= params[:regarding].html_safe %>
    </p>
  <% end %>
</header>

<ul class="chat-links">

  <% if @user.phone.present? %>
    <% if params[:debug].present? && @user.is_facebook_user? %>
      <%= chat_link url: native_chat_url('facebook', @user.facebook_identity.uid), label_text: 'Facebook', asset: 'facebook2' %>
    <% end %>

    <%= chat_link url: native_chat_url('zalo', @user.phone), label_text: 'Zalo', asset: 'zalo' %>

    <%= chat_link url: native_chat_url('whatsapp', @user.phone, regarding: params[:regarding]), label_text: 'WhatsApp', asset: 'whatsapp' %>

    <%= chat_link url: call_url(@user.phone), label_text: @user.phone, asset: 'phone3' %>
  <% end %>
</ul>


