<%= link_to item.pretty_path, class: 'newest-item' do %>
  <div class='newest-item__image'>
    <% if item.has_image? %>
      <%= image_tag item.image_urls[:thumb] %>
    <% else %>
      <%= image_tag Setting.site_logo %>
    <% end %>
  </div>
  <div class='newest-item__content'>
    <p class='newest-item__content__name'>
      <%= item.name %>
    </p>
  </div>
  <div class='newest-item__distance'>
    <%= item.distance.round(1) %> km
  </div>
<% end %>
