<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @item.location %>
  <%= link_to 'Edit', edit_location_path(@item.location) %>
</p>

<p>
  <strong>Image:</strong>
  <%- if @item.image.attached? %>
    <%= image_tag @item.image %>
  <%- end%>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
  <%= link_to 'Edit', edit_item_path(@item) %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

