<% content_for :meta_og do %>
  <meta property="og:title" content="<%= @item.name %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="<%= location_item_url(@location, @item) %>" />
  <% if @item.has_image? %>
    <meta property="og:image" content="<%= @item.image_urls[:full] %>"/>
  <% end %>
  <meta property="og:description" content="<%= @item.description %>"/>
<% end %>


<%= link_to t('lm.action.back', default: "Back"), location_path(@item.location) %>

<% if @item.editor? current_user %>
  <%= link_to t('lm.action.edit', default: "Edit"), edit_location_item_path(@location, @item) %>
<% end %>

<br/>

<% if @item.has_image? %>
  <%= image_tag @item.image_urls[:medium] %>
<% end %>

<section class="item-info">
  <span class="item-info__price"><%= to_currency(@item.price) %></span>
  <h1 class="item-info__name"><%= @item.name %></h1>
  <p class="item-info__description"><%= @item.description %></p>
</section>


<%= link_to_chat(user: @item.location.user,
                 name: @item.name,
                 url: location_item_url(@location, @item)) %>
