<%= link_to 'Back', location_path(@item.location) %>

<% if @item.editor? current_user %>
  <%= link_to 'Edit', edit_location_item_path(@location, @item) %>
<% end %>

<% if @item.image.attached? %>
  <%= image_tag @item.image_urls[:medium] %>
<% end %>

<section class="item-info">
  <span class="item-info__price"><%= number_to_currency(@item.price) %></span>
  <h1 class="item-info__name"><%= @item.name %></h1>
  <p class="item-info__description"><%= @item.description %></p>
</section>

<%= click_to_chat_btn(user_id: @item.location.user.id, item_id: @item.id) %>
