<%= form_with(model: location, local: true, class: 'b-location-form') do |form| %>

  <%= form.hidden_field :latitude %>
  <%= form.hidden_field :longitude %>

  <%= render 'shared/error_messages', errors: location.errors %>

  <div class="b-location-form__field">
    <div id="map_canvas"></div>
  </div>

  <div class="b-location-form__field">
    <%= form.text_field :name, placeholder: "Name" %>
  </div>

  <div class="b-location-form__field">
    <%= form.text_area :description, placeholder: "Description" %>
  </div>

  <div class="b-location-form__actions">
    <%= form.submit "Create Location" %>
  </div>

  <script>
    utils.ready(function() {
      map.hydrateLatLng('location_latitude',
                        'location_longitude');
    });
  </script>

<% end %>
