<%= form_with(model: location, local: true, class: '') do |form| %>

  <%= form.hidden_field :latitude %>
  <%= form.hidden_field :longitude %>

  <%= render 'shared/error_messages', errors: location.errors %>

  <div class="field">
    <div id="map_canvas"></div>
  </div>

  <div class="field">
    <%= form.text_field :name, placeholder: "Name" %>
  </div>

  <div class="field">
    <%= form.text_area :description, placeholder: "Description" %>
  </div>

  <div class="actions">
    <%= form.submit action %>
  </div>

  <script>
    utils.ready(function() {
      var loc = <%= location.to_json.html_safe %>;
      map.placeClearableLocation(loc);

      map.hydrateLatLng('location_latitude',
                        'location_longitude');
    });
  </script>

<% end %>
