<%= form_with(model: location, local: true, class: '') do |form| %>

  <%= form.hidden_field :latitude %>
  <%= form.hidden_field :longitude %>

  <%= render 'shared/error_messages', errors: location.errors %>

  <div id="map_canvas"></div>

  <div class="field">
    <%= form.text_field :name, placeholder: "Name", required: true %>
  </div>

  <% if show_description %>
    <div class="field">
      <%= form.text_area :description, placeholder: "Description" %>
    </div>
  <% end %>

  <%= form.fields_for :items do |item_form| %>
    <div class="field">
      <%= item_form.file_field :image, required: true %>
    </div>

    <div class="field">
      <%= item_form.text_field :name, placeholder: "Name", required: true %>
    </div>

    <div class="field">
      <%= item_form.text_field :price, placeholder: "Price", required: true %>
    </div>

    <div class="field">
      <%= item_form.text_area :description, placeholder: "Description" %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit action_label %>
  </div>

  <script>
    utils.ready(function() {
      map.setCurrentPosition();

      var loc = <%= location.to_json.html_safe %>;
      map.placeClearableLocation(loc);

      map.hydrateLatLng('location_latitude',
                        'location_longitude');
    });
  </script>

<% end %>
