<%= form_with(model: location, local: true, class: '') do |form| %>

  <%= form.hidden_field :latitude %>
  <%= form.hidden_field :longitude %>

  <%= render 'shared/error_messages', resource: location %>

  <div id="map_canvas"></div>
  <script>
    lm.utils.ready(function() {
      var center = <%= Setting.get('map.center').to_json.html_safe %>;
      var map = new lm.Map(center);
    });
  </script>

  <div class="field">
    <%= form.text_field :address,
      placeholder: t('lm.location.address', default: "Address"),
      required: true, autocomplete: false %>
  </div>

  <div class="field">
    <%= form.text_field :name,
      placeholder: t('lm.location.name', default: "Location name"),
      required: true, autocomplete: false %>
  </div>

  <% if show_description %>
    <div class="field">
      <%= form.text_area :description,
        placeholder: t('lm.location.description', default: "Description"),
        autocomplete: false %>
    </div>
  <% end %>

  <% if show_items %>
    <%= form.fields_for :items do |item_form| %>
      <div class="field m--file">
        <% if item_form.object.has_image? %>
          <%= item_form.hidden_field :image, value: item_form.object.image.signed_id %>
          <%= image_tag item_form.object.image_urls[:thumb], class: 'field__thumb' %>
        <% end %>

        <%= item_form.label :image,
            t('lm.action.file-upload', default: 'Choose Image') %>
        <%= item_form.file_field :image %>
      </div>

      <div class="field">
        <%= item_form.text_field :name,
          placeholder: t('lm.item.name', default: "Item name"),
          required: true, autocomplete: false %>
      </div>

      <div class="field">
        <%= item_form.number_field :price,
          placeholder: t('lm.item.price', default: "Price"),
          required: true, autocomplete: false %>
      </div>

      <div class="field">
        <%= item_form.text_area :description,
          placeholder: t('lm.item.description', default: "Description"),
          autocomplete: false %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit action_label %>
  </div>

<% end %>

<script>
  lm.utils.ready(function() {
    document.getElementById('location_address').addEventListener('input', event => {
      const isError = document.getElementById('location_address') != '' && document.getElementById('location_latitude').value == '';
      if (isError) {
        event.target.setCustomValidity('Can not find this address on map, please find and pin location on map');
      } else {
        event.target.setCustomValidity('');
      }
    });
  });
</script>

<!--
  TODO add js to:
  - set a pin to your current location on the map
  - delete an item by hiding it and setting deleted field
  - if there is no thumbnail, then image is required
  - button to duplicate the last item, similar to cacoon
-->
