<div id="map_canvas" class="m--full"></div>

<div id="spinner">
  <%= spinner %>
</div>

<div class='search-bar' id='search_form'>
  <%= icon 'search2', class: 'search-bar__icon' %>
  <%= search_field_tag :query, nil, placeholder: t('lm.text.search', default: 'Search'), name: :query %>
</div>

<div id='items_container'></div>

<script>
  lm.utils.setViewportHeight();

  lm.utils.ready(function() {
    var center = <%= Setting.map_center.to_json.html_safe %>;
    var map = new lm.Map(center);
    var latestCoordinate = <%= @latest_coordinate.to_json.html_safe %>
    var currentUserId = <%= @current_user&.id.to_json.html_safe %>

    map.allocateUserCoordinate({ latestCoordinate: latestCoordinate, currentUserId: currentUserId, callback: lm.item.pullLatestItems });
    map.addLocationButton();

    var locations = <%= @locations.to_json.html_safe %>;
    map.placeLocations(locations);
    map.placeLocationsInBounds();
    map.setSearchQuery("<%= params[:query] %>")
    document.getElementById('query').addEventListener('search', event => map.onSearchSubmit(event.target.value, event));
    lm.search.onHomePageLoadFocusOnSearchBox();
  });
  window.addEventListener('resize', () => {
    lm.utils.setViewportHeight();
  });
</script>

