<%= render 'search/form', text: params[:text] %>
<div id="map_canvas" class="m--full"></div>

<script>
  lm.utils.ready(function() {
    var center = <%= Setting.get('map.center').to_json.html_safe %>;
    var map = new lm.Map(center);

    map.setCurrentPosition();
    map.addLocationButton();

    var locations = <%= @locations.to_json.html_safe %>;
    map.placeLocations(locations);
  });
</script>

<div class="b-call-to-action">
  <a class="b-call-to-action__post b-btn" href="<%= new_location_path %>">
    <%= t('lm.action.post', default: "Post") %>
  </a>
</div>
