<div id="map_canvas" class="m--full"></div>

<h4>
  <%= t('lm.text.newest_items', default: 'Newest items') %>
</h4>
<% if @items.count.positive? %>
  <div class="search-items" id="search-items">
    <%= render partial: 'item', collection: @items %>
  </div>
<% end %>

<script>
  lm.utils.ready(function() {
    var center = <%= Setting.map_center.to_json.html_safe %>;
    var map = new lm.Map(center);
    var latestCoordinate = <%= @latest_coordinate.to_json.html_safe %>
    var currentUserId = <%= @current_user&.id.to_json.html_safe %>

    map.setCurrentPosition({ latestCoordinate: latestCoordinate, currentUserId: currentUserId });
    map.addLocationButton();

    var locations = <%= @locations.to_json.html_safe %>;
    map.placeLocations(locations);
    map.placeLocationsInBounds();
  });
</script>

