<% content_for :head do %>
  <meta property="og:title" content="<%= @location.name %>"/>
  <meta property="og:type" content="FoodHomeMap:location"/>
  <meta property="og:description" content="<%= @location.description %>"/>

  <% @location.items.each do |item| %>
    <meta property="og:image" content="<%= item&.image_urls[:thumb] %>"/>
  <% end %>
<% end %>

<%= link_to 'Back', locations_path %>

<% if @location.editor? current_user %>
  <%= link_to 'Edit', edit_location_path(@location) %>
<% end %>

<div id="map_canvas" class="m--reminder"></div>
<script>
  lm.utils.ready(function() {
    var center = <%= Setting.get('map.center').to_json.html_safe %>;
    var map = new lm.Map(center);

    var loc = <%= @location.to_json.html_safe %>;
    map.placeLocation(loc, { info: false, panTo: true });
  });
</script>


<header class="location-info">
  <h1 class="location-info__name"><%= @location.name %></h1>
  <p class="location-info__description"><%= @location.description %></p>
</header>


<ul class="location-items">
  <%- @location.items.each do |item| %>
    <li class="location-items__item">
      <% path = item.editor?(current_user) ?
                  edit_location_item_path(@location, item) :
                  location_item_path(@location, item) %>

      <%= link_to path do %>
        <% if item.image.attached? %>
          <%= image_tag item.image_urls[:thumb] %>
        <% end %>
      <% end %>
    </li>
  <%- end %>

  <% if @location.editor? current_user %>
    <li class="location-items__item m--add">
      <%= link_to "Add", new_location_item_path(@location) %>
    </li>
  <% end %>
</ul>

<%= click_to_chat_btn(user: @location.user) %>

