<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Location Machine</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= render 'shared/testing' %>
    <%= render 'shared/tracking' %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ Rails.application.credentials.google[:maps_api_key] }" %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

    <header id="navbar">
      <div class="container">
        <h2><%= link_to "location machine", root_path %></h2>

        <%- if user_signed_in? %>
          <p>
            <%- if current_user.avatar_url? %>
              <img src="<%= current_user.avatar_url.sub('http:', 'https:') %>" alt="current_user.avatar_url" />
            <%- end %>
            <%= " #{current_user.name} " %>
            <%= link_to "exit", destroy_user_session_path %>
          </p>
        <%- end %>
      </div>
    </header>

    <div id="main">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <footer id="notifications">
      <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </footer>

  </body>
</html>
